.wrapper, .footer{
  width: 100%;
  max-width: 1200px;
}

/*==========================================
                  Header
==========================================*/
.header {
  background: var(--bg);
  justify-content: space-between;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, .2);
  anchor-name: --header;
}

.logo-container img {
  width: 2.5rem;
  height: 2.5rem;
}

.logo-container h1 {
  font-size: clamp(1rem, 1.66vw, 1.75rem);
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

/* Estilos Menu Hamburguesa - SVG */
.hamburger-menu-toggle {
  width: 2rem;
  height: 2rem;

  & svg path{
    fill: rgb(0 0 0 / 60%);
    stroke-width: 10;
  }

  & .hamburger-icon {
    display: block;
  }

  & .close-icon {
    display: none;
  }
}

.nav-list-container {
  gap: 0 1rem;
  margin: 0;
}

.nav-list-container li{
  color: var(--primary-text-dark);
}

.navbar-button {
  padding: .545rem 1.6rem;
  font-size: 1.2rem;
  color: var(--primary-text);
}

/*==========================================
                  Hero
==========================================*/
.hero-container{
  background-color: var(--bg);
}

.content{
  background-color: var(--bg);
}

.slogan-container {
  text-align: center;
}

.slogan-container h1 {
  font-size: clamp(1.5rem, 1.66vw, 1.625rem);
}

.hero-cta-container {
  gap: 1rem 0;
  flex-direction: column;
}

.demo-btn, .video-btn{
  width: 100%;
  padding: .545rem 4rem;
  font-size: clamp(1rem, 1.66vw, 1.625rem);
  text-align: center;
}

.video-btn{
  color: #7c7c7c;

  &:hover{
    color: var(--primary-text);
  }
}

/*==========================================
                  footer
==========================================*/
.footer{
  background-color: #212121;
  color: var(--primary-text);
  padding: 1.25rem;
}



/* =========================================
           index.css media queries            
============================================*/
@media (max-width: 600px) {
  .hero-image {
    display: noene;
  }

  .slogan-container p {
    display: none;
  }

  .navbar-button {
    width: 80%;
    margin-inline: auto;
    text-align: center;

    & a {
      color: var(--primary-text);
    }
  }

  #menu_hamburguesa_interruptor:checked~.nav-list-container {
    min-width: 100vw;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2rem 9999rem;
    position: absolute;
    position-anchor: --header;
    position-area: bottom center;
    position-visibility: always;
    background-color: color-mix(in srgb, var(--bg) 95%, transparent 5%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    z-index: 9999;
  }

  #menu_hamburguesa_interruptor:checked~.hamburger-menu-toggle {
    & .hamburger-icon {
      display: none;
    }

    & .close-icon {
      display: block;
    }
  }
}


@media (min-width: 601px) {

  .logo-container img {
    width: 3.125rem;
    height: 3.125rem;
  }

  .demo-btn,
  .video-btn {
    width: auto;
    padding: .545rem 1.6rem;
  }

  @media (min-width: 1200px) {

    .wrapper,
    .footer {
      margin: 0 auto;
    }
  }
}