.wrapper, .footer{
  width: 100%;
  max-width: 1600px;
}

/*==========================================
                  Header
==========================================*/
main, header{
  padding-inline: 1.25rem;
}


.header {
  background: var(--bg);
  justify-content: space-between;
  anchor-name: --header;
  padding-top: 0.625rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo-container {
  column-gap: 0.625rem;
}

.logo-container img {
  width: 2.5rem;
  height: 2.5rem;
}

.logo-container h1 {
  margin: 0;
  font-size: clamp(1.125rem, 0.434783vw + 0.994565rem, 1.375rem);
  font-family: var(--font-family-headings);
  font-weight: bold;
}

/* Estilos Menu Hamburguesa - SVG */
.hamburger-menu-toggle {
  width: 2rem;
  height: 2rem;

  & svg path{
    fill: rgb(0 0 0 / 60%);
    stroke-width: 10;
  }

  & .hamburger-icon {
    display: block;
  }

  & .close-icon {
    display: none;
  }
}

.nav-list-container {
  gap: 0 1rem;
  margin: 0;
}

.nav-list-container li{
  color: var(--primary-text-dark);
}

.navbar-button {
  padding: .545rem 1.6rem;
  font-size: 1rem;
  color: var(--primary-text);
  border-radius: 100vmax;

  & a{
    color: var(--primary-text);
    font-weight: 600;
  }
}

/*==========================================
                  Hero
==========================================*/
.hero-container{
  background-color: var(--bg);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 2rem;
  margin-block-start: 4rem;
}

.chip p{
  margin: 0;
}

.chip-top {
  margin: 0;
  color: var(--primary-text-dark);
}

.circle{
  width: 8px;
  height: 8px;
  background-color: var(--orange);
  border-radius: 50%;
}

.slogan-container {
  text-align: center;
  border-bottom: 1px solid var(--border);
  padding-block: 2rem;
}


.hero-cta-container {
  gap: 1rem 0;
  flex-direction: column;
}

.demo-btn, .video-btn{
  padding: .545rem 4rem;
  font-size: clamp(1rem, 1.66vw, 1.625rem);
  text-align: center;
}

.video-btn{
  color: var(--primary-text-dark);
  background-color: transparent;
  border: 1px solid var(--border);

  &:hover{
    color: var(--primary-text);
  }
}

.hero-img {
  margin: auto 0;
}

.chip {
  padding: 0.3125rem 0.625rem;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: var(--btn-radius);
  font-size: clamp(0.625rem, 0.434783vw + 0.994565rem, 0.75rem);

}

.chip-top {
  display: inline-flex;
  column-gap: 0.625rem;
  background-color: #d8d8d8;
  background-image: linear-gradient(to right, #dadada, #d8d8d8);
  box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
}

.chip-bottom-container {
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 2rem;
}

.bcorp,
.sdg,
.iso {
  column-gap: 0.625rem;
  background-color: transparent;
}

.bcorp svg,
.sdg svg,
.iso svg {
  fill: transparent;
  stroke: rgb(0 0 0 / 50%);
  stroke-width: 1.5rem;
  width: 15px;
  height: 15px;
}

/*==========================================
                  footer
==========================================*/
.footer{
  background-color: #212121;
  color: var(--primary-text);
  padding: 1.25rem;
}



/* =========================================
           index.css media queries            
============================================*/
@media (max-width: 600px) {
  .hero-img {
    display: none;
  }

  .demo-btn,
  .video-btn {
    width: 80%;
  }
}


@media (max-width: 675px) {

  .nav-list-container {
    display: none;
  }

  .hamburger-menu-toggle {
    display: block;
  }

  .navbar-button {
    width: 80%;
    margin-inline: auto;
    text-align: center;

    & a {
      color: var(--primary-text);
    }
  }

  #menu_hamburguesa_interruptor:checked~.nav-list-container {
    min-width: 100vw;
    min-height: 50vh;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2rem 9999rem;
    position: fixed;
    position-anchor: --header;
    position-area: bottom center;
    position-visibility: always;
    background-color: var(--bg);
    background-color: color-mix(in display-p3, var(--bg) 98%, transparent 2%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    z-index: 9999;
  }

  #menu_hamburguesa_interruptor:checked~.hamburger-menu-toggle {
    & .hamburger-icon {
      display: none;
    }

    & .close-icon {
      display: block;
    }
  }
}


@media (min-width: 676px) {
  .hamburger-menu-toggle {
    display: none;
  }
}


@media (min-width: 601px) {
  .logo-container img {
    width: 3.125rem;
    height: 3.125rem;
  }

  .chip-bottom-container {
    justify-content: flex-start;
  }
}


  @media (min-width: 1601px) {

    .wrapper,
    .footer {
      margin: 0 auto;
    }
  }